<html>
<head>
	<link rel="icon" href="https://file.hstatic.net/1000287322/file/favicon_1_b09391da48434a18adff152c53967093.png" type="image/x-icon"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>

<body> 
		<div class="container pt-5">
			<h1>Đăng Nhập Admin</h1>
			<form method="POST">
				<div class="form-group">
					<label for="email">Email</label>
					<input class="form-control" id="email" name="email" type="email"/>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input class="form-control" id="password" name="password" type="password"/>
				</div>
				<button>Login</button>
			</form>
		</div>
	</body>
</html>