<html>
	 <head>
	   
	</head>
	<body>
		<a href="/dangxuat">Đăng xuất</a>
		<h2><strong>Xuân Đức giáo chủ!</strong></h2>
		 <p> Thiên thu vạn tái, nhất thống giang hồ</p>
		 <p>Data Productserver</p>
		 <a href="/adminn/donhang">Đơn hàng</a>
		 <br/><br/>
		 <a href="/adminn/themproductserver">Thêm sản phẩm chung</a>
		 <br/><br/>
		 
		 <a href="/adminn/themproductnt">Thêm sản phẩm cho từng nhà thuốc </a>
		 <br/> <br> <br>
		 <a href="/adminn/productwait">Xử lý ProductWait </a>



	</body>

</html>