<html>
	 <head>
	   
	</head>
	<body>
		<h1><strong>Thêm nhanh sản phẩm cho nhà thuốc cụ thể</strong></h1>
		<h3><strong>Xuân Đức giáo chủ!</strong></h3>
		 <p> Thiên thu vạn tái, nhất thống giang hồ</p>
		 <p>Điền link chứa file data Product cụ thể cho nhà thuốc</p>
		 <p>Link chứa 2 trường [{"socongbo":"1000","giaban":"1000"}]</p>
		 <form method="POST">
		 	<input type="text" name="linkproduct" style="width:600px"><br/>
		 	<button>Post</button>
		 </form>



	</body>

</html>