<html>
	 <head>
	   
	</head>
	<body>
		<h2><strong>Xuân Đức giáo chủ!</strong></h2>
		 <p> Thiên thu vạn tái, nhất thống giang hồ</p>
		 <p>Điền link chứa file data Productserver</p>
		 <form method="POST">
		 	<input type="text" name="linkproduct" style="width:600px"><br/>
		 	<button>Post</button>
		 </form>



	</body>

</html>