 <div class="container">
 <hr><hr>
 Đánh giá nhà thuốc <strong> <%=nhathuoc.tennhathuoc%> </strong>
     <div class="row pt-2">
        
        <div class="col-4">
            <strong style="font-size: 2em">0</strong> <img class="w-25" src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
        </div>
        <div class="col-8">
        0 lượt đánh giá <strong>5 Sao </strong> <br>
        0 lượt đánh giá <strong>4 Sao </strong><br>
        0 lượt đánh giá <strong>3 Sao </strong><br> 
        0 lượt đánh giá <strong>2 Sao </strong><br>
        0 lượt đánh giá <strong>1 Sao </strong>
        </div>
   Đánh giá của bạn:
        <div class="col-12">
            
           
  <input  type="radio" id="5sao" name="danhgia" value="5sao" checked> 
  <label for="5sao">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
  </label><br>

  <input type="radio" id="4sao" name="danhgia" value="4sao"> 
  <label for="4sao">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
  </label><br>

  <input type="radio" id="3sao" name="danhgia" value="3sao"> 
  <label for="3sao">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
  </label><br>

  <input type="radio" id="2sao" name="danhgia" value="2sao"> 
  <label  for="2sao">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
  </label><br>

  <input type="radio" id="1sao" name="danhgia" value="1sao"> 
  <label for="1sao">
    <img style="width: 20px" src="https://image.flaticon.com/icons/svg/291/291205.svg">
  </label><br>

        </div>
        <div class="col-12 col-md-6">
            <textarea class="w-100 border border-primary" placeholder="Đánh Giá: Tối thiểu 80 ký tự" name="message" rows="5"></textarea>
        </div>
        <div class="col-6 col-md-3">
            <input class="form-control border border-primary mb-1" type="text" placeholder="Họ Và Tên">
            <input class="form-control border border-primary mb-1" type="text" placeholder="Email">
            <input class="form-control border border-primary" type="text" placeholder="Số điện thoại">
        </div>
        <div class="col-6 col-md-3">
            
            <button class="button btn-primary mt-1" > Gửi đánh giá</button>
        </div>
    </div>

</div>	