<html>
	 <head>
	 	<% include googleana%>
	 	<link rel="icon" href="https://file.hstatic.net/1000287322/file/favicon_1_b09391da48434a18adff152c53967093.png" type="image/x-icon"/>
	 	<meta name="viewport" content="width=device-width, initial-scale=1">

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	</head>
	<body>
		<% include header%>
		 
			
		<div class="container">
			
				<br/>
				<div class="row text-center">
					<div class="col-12 bg-primary mb-2">
					Đặt hàng thành công
					</div>
					<div class="col-12">
		        		<img class="w-25" src="https://image.flaticon.com/icons/svg/1293/1293034.svg">
					</div>
					<div class="col-12 mt-2">
					<h3><a href="/">Về Trang Chủ</a></h3>
					</div>
				
					
				</div>
		</div>
    	
    	<p style="clear: both"></p>
    	<br/>
    	<br/>
    	<br/>
    	<hr/>
    	<hr/>
    	<% include footer%>

	</body>

</html>