<nav class="navbar navbar-expand-md bg-danger navbar-dark">
	<!-- Brand -->
	<a class="navbar-brand" href="/"><img src='/image/logo.png' alt="logo" style='height:70px'></a>

	<!-- Toggler/collapsibe Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Navbar links -->
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					Mỹ Phẩm
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/collection/chong-nang-tri-nam">Chống Nắng Trị Nám</a>
					<a class="dropdown-item" href="/collection/san-pham-danh-cho-toc">Sản Phẩm Dành Cho Tóc</a>
					<a class="dropdown-item" href="/collection/kem-ht-tri-tham-mun">Kem HT Trị Thâm Mụn</a>
					<a class="dropdown-item" href="/collection/cham-soc-da">Chăm Sóc Da</a>
					<a class="dropdown-item" href="/collection/duong-the-collagen">Dưỡng Thể-Collagen</a>
					<a class="dropdown-item" href="/collection/nuoc-hoa">Nước Hoa</a>
					<a class="dropdown-item" href="/collection/son-mong-rua-mong">Sơn Móng Rửa Móng</a>
					<a class="dropdown-item" href="/collection/my-pham-nam">Mỹ Phẩm Nam</a>
					<a class="dropdown-item" href="/collection/tinh-dau-thien-nhien">Tinh Dầu Thiên Nhiên</a>
					<a class="dropdown-item" href="/collection/tuyen-tap-son-moi">Tuyển Tập Son Môi</a>
					<a class="dropdown-item" href="/collection/kem-lam-mo-seo">Kem Làm Mờ Sẹo</a>
					<a class="dropdown-item" href="/collection/kem-tan-mo">Kem Tan Mỡ</a>
					<a class="dropdown-item" href="/collection/kem-lam-trang-da">Kem Làm Trắng Da</a>
					<a class="dropdown-item" href="/collection/my-pham-khac">Mỹ Phẩm Khác</a>
				</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					TPCN
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/collection/vitamin-khoang-chat">Vitamin Khoáng Chất</a>
					<a class="dropdown-item" href="/collection/bo-xuong-khop">Bổ Xương Khớp</a>
					<a class="dropdown-item" href="/collection/tim-mach-huyet-ap">Tim Mạch Huyết Áp</a>
					<a class="dropdown-item" href="/collection/duong-tieu-hoa">Đường Tiêu Hóa</a>
					<a class="dropdown-item" href="/collection/viem-duong-ho-hap">Viêm Đường Hô Hấp</a>
					<a class="dropdown-item" href="/collection/sinh-ly-nu">Sinh Lý Nữ</a>
					<a class="dropdown-item" href="/collection/sinh-ly-nam">Sinh Lý Nam</a>
					<a class="dropdown-item" href="/collection/tieu-duong-mo-mau">Tiểu Đường Mỡ Máu</a>
					<a class="dropdown-item" href="/collection/than-nieu">Thận Niệu</a>
					<a class="dropdown-item" href="/collection/bo-gan-mat">Bổ Gan Mật</a>
					<a class="dropdown-item" href="/collection/nhom-khac">Nhóm Khác</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					Làm Đẹp
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/collection/collagen">Collagen</a>
					<a class="dropdown-item" href="/collection/vien-uong-chong-nang">Viên Uống Chống Nắng</a>
					<a class="dropdown-item" href="/collection/vien-uong-trang-da">Viên Uống Trắng Da</a>
					<a class="dropdown-item" href="/collection/vien-uong-lam-dep-da">Viên Uống Làm Đẹp Da</a>
					<a class="dropdown-item" href="/collection/tra-giam-can">Trà Giảm Cân</a>
					<a class="dropdown-item" href="/collection/giam-can-an-toan">Giảm Cân An Toàn</a>
					<a class="dropdown-item" href="/collection/tang-can-an-toan">Tăng Cân An Toàn</a>
				</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					Mẹ Và Bé
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/collection/bo-thai">Bổ Thai</a>
					<a class="dropdown-item" href="/collection/com-cho-tre-bieng-an">Cốm Cho Trẻ Biếng Ăn</a>
					<a class="dropdown-item" href="/collection/tang-cuong-mien-dich">Tăng Cường Miễn Dịch</a>
					<a class="dropdown-item" href="/collection/siro-cam-ho">Siro Cảm Ho</a>
				</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					TPCN-Thuốc Bổ
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/collection/bo-tri-nao">Bổ Trí Não</a>
					<a class="dropdown-item" href="/collection/bo-mat">Bổ Mắt</a>
					<a class="dropdown-item" href="/collection/nhan-sam-linh-chi">Nhân Sâm Linh Chi</a>
					<a class="dropdown-item" href="/collection/dong-trung-ha-thao">Đông Trùng Hạ Thảo</a>
					<a class="dropdown-item" href="/collection/bo-moc-toc">Bổ Mọc Tóc</a>
				</div>
			</li>
			<li class="nav-item"><a class="nav-link" href="/hethongnt">Nhà Thuốc</a></li>
			<li class="nav-item"><a class="nav-link" href="/hethongcty">NCC</a></li>

		</ul>
	</div>
	<form class="form-inline" action="/search" method="GET">
		<input class="form-control mr-sm-2" type="text" name="q" placeholder="Tìm sản phẩm">
		<button class="btn btn-warning">Search</button>
	</form>
</nav>
<div class="container-fluid  bg-danger pb-3">
	<div class="row">
		<div class="col-2 col-md-8 ">
		</div>
		<div class="col-6 col-md-2">
			<a class="text-light" href="/dangky">Đăng ký bán hàng</a>
		</div>
		<div class="col-4 col-md-2 bg-danger text-light">
			<a class="text-light" href="/auth/login">Đăng Nhập</a>
		</div>
	</div>
</div>