<html>
	 <head>
	 	<link rel="icon" href="https://file.hstatic.net/1000287322/file/favicon_1_b09391da48434a18adff152c53967093.png" type="image/x-icon"/>
	 	<meta name="viewport" content="width=device-width, initial-scale=1">

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	</head>
	<body>
		<% include header%>
		 
			<br/>
			<br/>
			<hr>
		<div class="container">
			
				<br/>
				<div class="row">
					
					
					<div class="col-12">
		        		<h3>Chính sách bảo mật thông tin</h3>
						<h4>Bảo mật thông tin Khách Hàng</h4>
						<h4>BẢO MẬT THÔNG TIN KHÁCH HÀNG (căn cứ theo Nghị định 52/2013/NĐ-CP)</h4> 


						<h5>1 Mục đích và phạm vi thu thập:</h5>


						Thông tin Khách Hàng được thu thập thông qua email, điện thoại hoặc kê khai trực tiếp của Khách Hàng. Đây là các thông tin mà NhaThuocChuan.com đề nghị Khách Hàng cung cấp nhằm đảm bảo quyền lợi cho cho Khách Hàng đồng thời là cơ sở để chúng tôi thực hiện chăm sóc Khách Hàng tốt hơn.

						<h5>2 Phạm vi sử dụng thông tin:</h5>


						NhaThuocChuan.com sử dụng thông tin Khách Hàng cung cấp để:<br/>


						– Cung cấp các dịch vụ đến Khách Hàng<br/>
						– Gửi các thông báo về các hoạt động trao đổi thông tin giữa Khách Hàng và Công Ty.<br/>
						– Liên lạc và giải quyết với Khách Hàng trong những trường hợp đặc biệt.<br/>
						– Không sử dụng thông tin của Khách Hàng ngoài mục đích xác nhận và liên hệ có liên quan đến giao dịch mua bán với Công Ty.<br/>
						– Trong trường hợp có yêu cầu của Pháp Luật: NhaThuocChuan.com có trách nhiệm hợp tác cung cấp thông tin Khách Hàng khi có yêu cầu từ Cơ Quan Tư Pháp bao gồm: Viện Kiểm sát, Tòa Án, Cơ Quan Công An điều tra liên quan đến hành vi vi phạm Pháp Luật nào đó của Khách Hàng. Ngoài ra, không ai có quyền xâm phạm vào thông tin của Khách Hàng.

						<h5>3 Thời gian lưu trữ thông tin:</h5>


						Thông tin Khách Hàng sẽ được lưu trữ tại NhaThuocChuan.com cho đến khi có yêu cầu hủy bỏ của Khách Hàng. Còn lại trong mọi trường hợp thông tin Khách Hàng sẽ được bảo mật trong 01 chương trình quản lý thông tin Khách Hàng của NhaThuocChuan.com

						<h5>4 Đơn vị thu thập và quản lý thông tin cá nhân:</h5>


						NhaThuocChuan.com<br/>
						Email: hotro@nhathuocchuan.com<br/>
						<h5>5 Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình:</h5>


						Nếu Khách Hàng có sự thay đổi thông tin và cần được điều chỉnh, cập nhật mới, Khách Hàng có thể cung cấp thông tin mới cho NhaThuocChuan.com thông qua điện thoại, email và đề nghị Công Ty chỉnh sửa lại.<br/>
						Khách Hàng có quyền gửi khiếu nại về việc lộ thông tin Khách Hàng cho bên thứ 3 đến Bộ phận Quản lý của Công Ty thông qua email: hotro@nhathuocchuan.com , Công Ty sẽ tiếp nhận những phản hồi này, sẽ xác nhận lại thông tin và có trách nhiệm trả lời lý do với Khách Hàng.

						<h5>6 Cam kết bảo mật thông tin Khách Hàng:</h5> 


						Thông tin Khách Hàng của Công Ty sẽ được cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin của NhaThuocChuan.com. Việc thu thập và sử dụng thông tin của mỗi Khách Hàng chỉ được thực hiện khi có sự đồng ý của Khách Hàng đó, trừ những trường hợp Pháp Luật có quy định khác.<br/>
						– Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin Khách Hàng khi không có sự cho phép đồng ý từ Khách Hàng.<br/>
						– Trong trường hợp máy lưu trữ thông tin bị hacker hoặc virus tấn công dẫn đến mất mát dữ liệu Khách Hàng, NhaThuocChuan.com sẽ có trách nhiệm xử lý & thông báo cho Khách Hàng được biết.<br/>
						– Bảo mật tuyệt đối mọi thông tin giao dịch của Khách Hàng với NhaThuocChuan.com.<br/>
						– NhaThuocChuan.com yêu cầu các Khách Hàng khi liên hệ mua hàng tại Công Ty phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email, điện thoại, số tài khoản, …., và chịu trách nhiệm về tính Pháp Lý của những thông tin trên. NhaThuocChuan.com sẽ không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của Khách Hàng nếu xét thấy tất cả thông tin Khách Hàng cung cấp khi mua hàng là không chính xác.
					</div>
					
					
				</div>
		</div>
    	
    	<p style="clear: both"></p>
    	<br/>
    	<br/>
    	<br/>
    	<hr/>
    	<hr/>
    	<% include footer%>
	<% include googleana%>

	</body>

</html>
