<html>
	 <head>
	 	<link rel="icon" href="https://file.hstatic.net/1000287322/file/favicon_1_b09391da48434a18adff152c53967093.png" type="image/x-icon"/>
	 	<meta name="viewport" content="width=device-width, initial-scale=1">

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	</head>
	<body>
		<% include header%>
		 
			<br/>
			<br/>
			<hr>
		<div class="container">
			
				<div class="row">
					
					
					<div class="col-12">
		        		<h3>Về Chúng Tôi</h3>
						<p>Kính gửi: Quý khách hàng thân mến,</p>

						<p>Trải qua gần 4 năm cung cấp dịch vụ, chúng tôi đã được một tầm nhìn rõ ràng về cách chúng tôi kinh doanh: Luôn cố gắng tạo ra và mang lại nhiều giá trị hơn cho khách hàng của mình, chứ không cố gắng tập trung kiếm tiền bằng mọi cách. Và chúng tôi thấu hiểu rất sâu sắc về những khó khăn của khởi nghiệp nói chung, và khó khăn và tốn kém trong việc kinh doanh online. Vì vậy, tiêu chí của chúng tôi trong việc cung cấp dịch vụ là luôn cố gắng mang lại dịch vụ với giá cả thấp nhất, cạnh tranh nhất nhưng vẫn luôn đảm bảo tiêu chí hàng đầu là khách hàng luôn hài lòng</p>

						<p>Chúng tôi đã và đang cung cấp rất nhiều dịch vụ về Công nghệ thông tin, vì vậy chúng tôi có điểm khác biệt so với các đơn vị khác là: Đội ngũ lãnh đạo và toàn công ty có một tầm nhìn, một kiến rất đủ rộng để có thể tư vấn dịch vụ một cách tốt nhất cho khách hàng. Cũng như chúng tôi có đủ khả năng để hổ trợ mọi thứ cho khách hàng của mình để khách hàng có thể dùng tạm thời trong thời gian chờ một dịch vụ phù hợp.</p>

						<p>Kim chỉ nam trong mọi hành động của chúng tôi là luôn cố gắng tôi đa để mang lại sự hài lòng cho khách hàng của mình, cho dù chúng tôi phải chịu tổn thất. Chúng tôi không thể để khách hàng của mình cảm thấy chi phí họ bỏ ra mà không mang lại giá trị tương xứng</p>

						<p>Một lần nữa, Chúng tôi trân trọng cảm ơn tất cả quý khách hàng đã tin tưởng, quan tâm, đã sử dụng dịch vụ, và sẽ sử dụng dịch vụ của NhaThuocChuan.com trong thời gian tới.</p>

						<p>Trân trọng!</p>

						
					</div>
				</div>

				<h4>Chúng Tôi Gồm</h4>

				<div class="row pt-3">
					<div class="col-md-4 text-center">

						<p><strong>Điều Hành - CEO</strong></p>
						<img class="w-75 rounded-circle pb-3" src="https://file.hstatic.net/1000287322/file/thao-ho_823dd175135f4e61a42423076f1a9642.jpg">

						<p>Thảo Hồ</p>

					</div>

					<div class="col-md-4 text-center">
						<p><strong>Cố Vấn Kỹ Thuật</strong></p>
						<img class="w-75 rounded-circle pb-3" src="https://file.hstatic.net/1000287322/file/hoanlee_67ce92f4bf614d739a4919092938197e.jpg">

						<p>Lê Hoan</p>
						
					</div>

					<div class="col-md-4 text-center">
						<p><strong>Marketing</strong></p>
						<img class="w-75 rounded-circle pb-3" src="https://file.hstatic.net/1000287322/file/phan_xuan_duc_98f630b95ac54758bccee88997e3368b.jpg">
						<p>Đức Kaka</p>
						
					</div>
				</div>
<hr>
				<div class="row pt-3">
					<div class="col-md-4 text-center">

						<p><strong>Coder</strong></p>
						<img class="w-75 rounded-circle pb-3" src="https://image.flaticon.com/icons/svg/145/145859.svg">

						<p>Leo Phan</p>

					</div>

					<div class="col-md-4 text-center">
						<p><strong>Cố Vấn Chiến Lược</strong></p>
						<img class="w-75 rounded-circle pb-3" src="https://file.hstatic.net/1000287322/file/trungphung_31f188f9fed94babbc8df38fb588c105.jpg">

						<p>Trung Phùng</p>
						
					</div>

					<div class="col-md-4 text-center">
						<p><strong>Chăm Sóc KH</strong></p>
						<img class="w-75 rounded-circle pb-3" src="https://file.hstatic.net/1000287322/file/ducphan_962d782309b24067b8c97868e8e29a31.jpg">
						<p>Đức Kaka</p>
						
					</div>
				</div>
		</div>
    	
    	<p style="clear: both"></p>
    	<br/>
    	<br/>
    	<br/>
    	<hr/>
    	<hr/>
    	<% include footer%>

	</body>

</html>


