<html>
	 <head>
	 	<link rel="icon" href="//theme.hstatic.net/1000287322/1000371118/14/favicon.png?v=302" type="image/x-icon" />
	 	<meta name="viewport" content="width=device-width, initial-scale=1">

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	</head>
	<body>
		<% include header%>
		 
			<br/>
			<br/>
			<hr>
		<div class="container">
			
				<br/>
				<div class="row">
					
					
					<div class="col-12">
		        	
						
						<h2>Để mua sản phẩm xin vui lòng thực hiện:</h2>

                <p>Cách 1: Đến trực tiếp nhà thuốc để được tư vấn với dược sĩ nhà thuốc.</p>

                <p>Cách 2: Gọi điện thoại đến nhà thuốc theo số điện thoại có sẵn trên các sản phẩm để kiểm tra tình trạng còn của sản phẩm và đặt hàng.</p><br>
                
						<h2>Quý khách vui lòng đổi trả sản phẩm tại nhà thuốc</h2>

                <p>Đến trực tiếp nhà thuốc đã mua sản phẩm</p> <br>
                	<h2>Câu hỏi thường gặp khác</h2>

					</div>
					
					
				</div>
		</div>
    	
    	<p style="clear: both"></p>
    	<br/>
    	<br/>
    	<br/>
    	<hr/>
    	<hr/>
    	<% include footer%>
	<% include googleana%>

	</body>

</html>