<html>
	 <head>
	 	<link rel="icon" href="https://file.hstatic.net/1000287322/file/favicon_1_b09391da48434a18adff152c53967093.png" type="image/x-icon"/>

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	</head>
	<body>
		<div style='height:80px; background-color:#183544'>
	    	<a href="/kenhnhathuoc" style='float:left; margin-right:10%'><img src='https://theme.hstatic.net/1000287322/1000371118/14/logo.png' style='height:70px' >Kênh Nhà Thuốc </a>
		</div> 
			<form  role="search" method="get" action="/search">
				<div class="ega-div-top-search">
					<input autocomplete="off" name="q" type="search"  placeholder="Bạn muốn mua gì?"/>
					<button type="submit">
					Tìm Kiếm
					</button>
				</div>
			</form>

			<h1>Chào mừng bạn đến với kênh nhà thuốc</h1>
			<hr>
		    <h3>Để đăng sản phẩm lên bạn vui lòng: </h3>
		    <p>Đã có tài khoản :--><a href="/auth/login">Đăng Nhập</a></p>
		    <p>Chưa có Tài Khoản: <a href="/dangky">Tạo Tài Khoản</a></p>
	<% include googleana%>
	</body>

</html>