<!DOCTYPE html>
<html>
<head lang="vi">
	<% include googleana%>
    <meta charset="utf-8">
    <link rel="icon" href="https://file.hstatic.net/1000287322/file/favicon_1_b09391da48434a18adff152c53967093.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- HTML Meta Tags -->
<title>thuốc chuẩn mua ở đâu</title>
<meta name="description" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
<meta name="keywords" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
 
<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
<meta itemprop="description" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>

 
<!-- Facebook Meta Tags -->

<meta property="og:type" content="nhathuocchuan"/>
<meta property="og:title" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
<meta property="og:description" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>

<meta property="og:keywords" content="chuẩn, , Thành Phố Hồ Chí Minh"/>
 
<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>
<meta name="twitter:site" content="nhathuocchuan"/>
<meta name="twitter:description" content="thuốc chuẩn mua ở đâu tại  Thành Phố Hồ Chí Minh"/>

<!-- SEO meta tags -->

</head>

<body>
   
		<% include header%>
			<br/>
			<br/>

	<div class="container">
	<h1>Thêm sản phẩm theo danh mục</h1>
	<br/>
		<div class="row">
			<div class="col-6 col-sm-4 col-md-3 text-center">
				<a href="/kenhnhathuoc/addlist/vitamin-khoang-chat">
				<img src="https://file.hstatic.net/1000287322/file/vitamin_khoang_chat_5901ece236ca4f2cae82ef40fda6bd4e.png" alt="vitamin khoang chat" class="w-50">
				<p class="text-success">Vitamin Khoáng Chất</p>
				<hr>
				</a>
			</div> 
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/bo-xuong-khop">
				<img src="https://file.hstatic.net/1000287322/file/bo_xuong_khop_39e2410ee53d48c59fed2cc1cbe5bad6.png" alt="Bổ Xương Khớp" class="w-50">
				<p class="align-middle">
				Bổ Xương Khớp</p>
				<hr>
			</a>
			</div>
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/tim-mach-huyet-ap">
				<img src="https://file.hstatic.net/1000287322/file/tim_mach_huyet_ap_bde009fe5b164e249a079469e2db32aa.jpg" alt="Tim Mạch Huyết áp" class="w-50">
				<p class="align-middle">Tim Mạch Huyết Áp</p>
				<hr>
			</a>
			</div>
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/duong-tieu-hoa">
				<img src="https://file.hstatic.net/1000287322/file/duong_tieu_hoa_49aa86307d5846b2af2aa5bc12065f2e.jpg" alt="Đường Tiêu Hóa" class="w-50">
				<p>Đường Tiêu Hóa</p>
				<hr>
			</a>
			</div>
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/viem-duong-ho-hap">
				<img src="https://file.hstatic.net/1000287322/file/duong_ho_hap_8e33f84e42174f4c8a5cd03be372e0d7.jpg" alt="Viêm Đường Hô Hấp" class="w-50">
				<p>Viêm Đường Hô Hấp</p>
				<hr>
			</a>
			</div>
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/sinh-ly-nu">
				<img src="https://file.hstatic.net/1000287322/file/sinh_ly_nu_2db3b7eac0f74abdaaf82bf9da939da3.jpg" alt="Sinh Lý Nữ" class="w-50">
				<p>Sinh Lý Nữ</p>
				<hr>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/sinh-ly-nam">
				<img src="https://file.hstatic.net/1000287322/file/sinh_ly_nam_c23e93c275e4406189e2d2e6c3b7dc44.jpg" alt="Sinh Lý Nam" class="w-50">
				<p>Sinh Lý Nam</p>
				<hr>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/tieu-duong-mo-mau">
				<img src="https://file.hstatic.net/1000287322/file/tieu_duong_mo_mau_d468cb477e2742a3a8130a0f78aded1d.jpg" alt="Tiểu Đường Mỡ Máu" class="w-50">
				<p>Tiểu Đường Mỡ Máu</p>
				<hr>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/than-nieu">
				<img src="https://file.hstatic.net/1000287322/file/than_nieu_a4863fb2c9384600a4d490bfab07287f.jpg" alt="Thận Niệu" class="w-50">
				<p>Thận Niệu</p>
				<hr>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/bo-gan-mat">
				<img src="https://file.hstatic.net/1000287322/file/bo_gan_mat_fac87a248fdc42658f131c7665b7b502.png" alt="Bổ Gan Mật" class="w-50">
				<p>Bổ Gan Mật</p>
				<hr>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/collagen">
				<img src="https://file.hstatic.net/1000287322/file/collagen_7660e58f781b46ec8a27aafa0fbe12ca.jpg" alt="Collagen" class="w-50">
				<p>Collagen</p>
				<hr>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/vien-uong-chong-nang">
				<img src="https://file.hstatic.net/1000287322/file/vien_uong_chong_nang_32d648f00cd94f25a837a86d5dda9778.png" alt="Viên Uống Chống Nắng" class="w-50">
				<p>Viên Uống Chống Nắng</p>
				<hr>
			</a>
			</div>
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/vien-uong-trang-da">
				<img src="https://file.hstatic.net/1000287322/file/vien_uong_dep_da_2a7913ae1613403dbc6bd6c6930439e2.jpg" alt="Viên Uống Trắng Da" class="w-50">
				<p>Viên Uống Trắng Da</p>
				<hr>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/vien-uong-lam-dep-da">
				<img src="https://file.hstatic.net/1000287322/file/vien_uong_dep_da_2a7913ae1613403dbc6bd6c6930439e2.jpg" alt="Viên Uống Làm Đẹp Da" class="w-50">
				<p>Viên Uống Làm Đẹp Da</p>
				<hr>
			</a>
			</div>
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/tra-giam-can">
				<img src="https://file.hstatic.net/1000287322/file/giam_can_an_toan_f40e9ffd48ac4d3f94a4e93256cba190.png" alt="Trà Giảm Cân" class="w-50">
				<p>Trà Giảm Cân</p>
				<hr>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/giam-can-an-toan">
				<img src="https://file.hstatic.net/1000287322/file/giam_can_an_toan_f40e9ffd48ac4d3f94a4e93256cba190.png" alt="Giảm Cân An Toàn" class="w-50">
				<p>Giảm Cân An Toàn</p>
				<hr>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/tang-can-an-toan">
				<img src="https://file.hstatic.net/1000287322/file/tang_can_an_toan_de635079464e4641a97da8d441c7d615.png" alt="Tăng Cân An Toàn" class="w-50">
				<p>Tăng Cân An Toàn</p>
				<hr>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/bo-thai">
				<img src="https://file.hstatic.net/1000287322/file/bo_thai_1cba3f70bdb7474fa9784ee2317efafa.png" alt="Bổ Thai" class="w-50">
				<p>Bổ Thai</p>
				<hr>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/com-cho-tre-bieng-an">
				<img src="https://file.hstatic.net/1000287322/file/com_cho_tre_bieng_an_d3b56101672a4474a4e40bfcfef8cd17.jpg" alt="Cốm Cho Trẻ Biếng Ăn" class="w-50">
				<p>Cốm Cho Trẻ Biếng Ăn</p>
				<hr>
			</a>
			</div>
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/tang-cuong-mien-dich">
				<img src="https://file.hstatic.net/1000287322/file/tang_cuong_mien_dich_5c0b710e31f84992be121615ee1a15b3.jpg" alt="Tăng Cường Miễn Dịch" class="w-50">
				<p>Tăng Cường Miễn Dịch</p>
				<hr>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/siro-cam-ho">
				<img src="https://file.hstatic.net/1000287322/file/siro_ho_cam_26b5036dec394bf28b920cbe8ab8da71.jpg" alt="Siro Cảm Ho" class="w-50">
				<p>Siro Cảm Ho</p>
				<hr>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/bo-tri-nao">
				<img src="https://file.hstatic.net/1000287322/file/bo_tri_nao_2533d88b4d814273ae6cc239831e6184.jpg" alt="Bổ Trí Não" class="w-50">
				<p>Bổ Trí Não</p>
				<hr>
			</a>
			</div>
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/bo-mat">
				<img src="https://file.hstatic.net/1000287322/file/bo_mat_f307e3a8ee4f4c5bac8d6dbc44c634e3.jpg" alt="Bổ Mắt" class="w-50">
				<p>Bổ Mắt</p>
				<hr>
			</a>
			</div>
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/nhan-sam-linh-chi">
				<img src="https://file.hstatic.net/1000287322/file/nhan_sam_linh_chi_a90a240effd64f038dd66fc049f65e4c.jpg" alt="Nhân Sâm Linh Chi" class="w-50">
				<p>Nhân Sâm Linh Chi</p>
				<hr>
			</a>
			</div>

			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/dong-trung-ha-thao">
				<img src="https://file.hstatic.net/1000287322/file/dong_trung_ha_thao_aa995831b3404a3b8a00a0258b86c0da.jpg" alt="Đông Trùng Hạ Thảo" class="w-50">
				<p>Đông Trùng Hạ Thảo</p>
				<hr>
			</a>
			</div>
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/bo-moc-toc">
				<img src="https://file.hstatic.net/1000287322/file/bo_moc_toc_3c848ed431c348f48eb58841193c65f4.jpg" alt="Bổ Mọc Tóc" class="w-50">
				<p>Bổ Mọc Tóc</p>
				<hr>
			</a>
			</div>
			<div class="col-6 col-sm-4 col-md-3 text-center">
			<a class="align-middle" href="/kenhnhathuoc/addlist/nhom-khac">
				<img src="http://choiceworker.com/category/img/other-other.jpg" alt="Nhóm Khác" class="w-50">
				<p>Nhóm Khác</p>
				<hr>
			</a>
			</div>
		</div>
	</div>
	

      <p style="clear: both"></p>
      
        <br/>
        <br/>
        <br/>
        <br/>
        <hr/>
        <hr/>
    <% include footer%>
</body>
</html>