<div class="container">
	<div class="row">
	<div class="col-sm-4">
		<img src='https://file.hstatic.net/1000287322/file/the_trang_66f662603c8549e6b2b9be05874acdfc.png' alt="logo" style='height:70px'>
		<p>Nhà thuốc chuẩn</p>
		<p>Hotline: 0937.994.901</p>
		<p>Email: hotro.ntchuan@gmail.com</p>
    </div>
    <div class="col-sm-4">
		<h4>Về Chúng Tôi</h4>
		<p><a href="/about/gioithieu">Giới thiệu</a></p>
		<p><a href="/about/chinhsachbaomat">Chính sách bảo mật</a></p>
		<p><a href="/about/dieukhoansudung">Điều khoản sử dụng</a></p>
		
    </div>
    <div class="col-sm-4">
		<h4>Trợ giúp khách hàng</h4>
		<p><a href="/about/huongdanmuahang">Hướng dẫn đặt hàng</a></p>
		<p><a href="/about/chinhsachdoitra">Chính sách đổi trả</a></p>
		<p><a href="/about/cauhoithuonggap">Vì sao nên chọn NhaThuocChuan</a></p>
    </div>

</div> 
 <div class="container">
<p>NhaThuocChuan.com rất hân hạnh mang lại cho quý khách hàng cũng như quý nhà thuốc có những trải nghiệm tốt nhất. Chúng tôi mong muốn tạo ra nhiều sản phẩm khác giúp thúc đẩy kết nối tất cả mọi người một cách nhanh và tiết kiệm chi phí nhất. Qua đó tạo một phần nhỏ nhoi thúc đẩy kinh tế nước nhà.</p>
<p>Coppyright @ NhaThuocChuan</p>
</div> 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>