<div class="container  pb-2 pt-2 text-center ">
	<div class="row">
		<div class="col-6 pt-1 pb-1 bg-dark col-sm-3">
   			<a class=" text-light" href="/nhathuoc/<%=user.idnt%>"  target="_blank">Xem app của bạn</a>
    	</div>

  		<div class="col-6 pt-1 pb-1 bg-secondary col-sm-3">
    		<a class=" text-light" href="/kenhnhathuoc/donhang">Đơn hàng</a> 
    		<span class="text-light rounded bg-primary"><%=user.donhang.length%></span>
    	</div>

    	<div class="col-6 pt-1 pb-1 bg-primary col-sm-3">
    		<a class=" text-light" href="/kenhnhathuoc/thongtin">Thông Tin NT</a>
    	</div>

    	<div class="col-6 pt-1 pb-1 bg-danger col-sm-3">
    		<a class=" text-light" href="/dangxuat">Đăng Xuất</a>
    	</div>
    </div>
  
</div> <!--Thanh sidebar--->
