<!DOCTYPE html>
<html>
<head>
<title>Cung Nhathuocchuan.com bán hàng miễn phí</title>
<link rel="icon" href="https://file.hstatic.net/1000287322/file/favicon_1_b09391da48434a18adff152c53967093.png" type="image/x-icon"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   	<% include header%>
    
	<div class="container pt-5">
	<h1>Tạo sản phẩm mới</h1>
    <%if (errors!==""){%>
      <div class="alert alert-danger"><%=errors%></div>
    <%};%>
        <div class="form-group" style='width: 84%; margin-left: 8%; margin-top: 50px'>
            <label>Tải Hình ảnh lên </label><br/>
            <input type="file" value="uploader" id="fileButton" name="linkhinh">
            <img id="hinhanh" src="" style="width: 200px; display: none">
        </div>
	<form method="POST" style='width: 84%; margin-left: 8%;'>
        <div class="form-group">
        	<label>Tên Sản Phẩm</label>
            <input class="form-control" id="tensanpham" name="tensanpham" placeholder="Tên Sản Phẩm" type="text" value="<%=values==''?values:values.tensanpham%>" required/>
        </div>
        <div class="form-group">
            <label>Số Công Bố: SCB / Năm công bố :</label> <br/>
            <input  id="socongbo" name="socongbo" placeholder="VD:1234/2018" type="text" value="<%=values==''?values:values.socongbo%>" required/> 
            <select class="field-input" id="kieuscb" name="kieuscb">
                <option value="/CBMP-QLD" selected>CBMP-QLD</option>
            </select>
        </div>
        
        <div class="form-group">
            <label>Chọn Phân Loại : </label>
            <select class="field-input" id="loaisanpham" name="loaisanpham">
                <option value="Mỹ Phẩm Khác" selected>Mỹ Phẩm Khác</option>
                <option value="Kem HT Trị Thâm Mụn">Kem HT Trị Thâm Mụn</option>
                <option value="Chống nắng trị nám">Chống nắng trị nám</option>
                <option value="Sản Phẩm Dành Cho Tóc">Sản Phẩm Dành Cho Tóc</option>
                <option value="chăm sóc da">chăm sóc da</option>
                <option value="Dưỡng thể collagen">Dưỡng thể collagen</option>
                <option value="Nước hoa">Nước hoa</option>
                <option value="Sơn móng rửa móng">Sơn móng rửa móng</option>
                <option value="Mỹ phẩm nam">Mỹ phẩm nam</option>
                <option value="Tinh dầu thiên nhiên">Tinh dầu thiên nhiên</option>
                <option value="Tuyển tập son môi">Tuyển tập son môi</option>
                <option value="Kem Làm Mờ Sẹo">Kem Làm Mờ Sẹo</option>
                <option value="Kem Tan Mỡ">Kem Tan Mỡ</option>
                <option value="Kem Làm Trắng Da">Kem Làm Trắng Da</option>
            </select>
        </div>


        <div class="form-group">
        	<label>Giá Bán Lẻ Đề Xuất</label>
            <input class="form-control" name="giaban" placeholder="Giá Bán (VNĐ)" type="number" />
        </div>

        <div class="form-group">
           <label>Giá Gốc</label>
            <input class="form-control" name="giagoc" type="number" required/>

        </div>

        
        <div class="row"> 
          <div class="col-12 col-md-3 ">
          <label><strong>Mức mua 1: </strong></label>
          </div>
         <div class="form-group col-6 col-md-3">
            <input class="form-control" name="slmuc1" placeholder="mức mua" type="number"/>
        </div>
        <div class="form-group col-6 col-md-3">
            <input class="form-control" name="giamuc1" placeholder="Giá mức 1" type="number"/>
        </div>
        </div>

         <div class="row"> 
          <div class="col-12 col-md-3 ">
          <label><strong>Mức mua 2: </strong></label>
          </div>
          
         <div class="form-group col-6 col-md-3 ">
            <input class="form-control" name="slmuc2" placeholder="mức mua" type="number"/>
        </div>
        <div class="form-group col-6 col-md-3 ">
            <input class="form-control" name="giamuc2" placeholder="Giá mức 2" type="number"/>
        </div>
        </div>

        <div class="row"> 
          <div class="col-12 col-md-3 ">
          <label><strong>Mức mua 3: </strong></label>
          </div>
         <div class="form-group col-6 col-md-3">
            <input class="form-control" name="slmuc3" placeholder="mức mua" type="number"/>
        </div>
        <div class="form-group col-6 col-md-3">
            <input class="form-control" name="giamuc3" placeholder="Giá mức 3" type="number"/>
        </div>
        </div>

        <div class="row"> 
          <div class="col-12 col-md-3 ">
          <label><strong>Mức mua 4: </strong></label>
          </div>
         <div class="form-group col-6 col-md-3">
            <input class="form-control" name="slmuc4" placeholder="mức mua" type="number"/>
        </div>
        <div class="form-group col-6 col-md-3">
            <input class="form-control" name="giamuc4" placeholder="Giá mức 4" type="number"/>
        </div>
       </div>



        <h2 class="pt-3 pb-3">Mô Tả Sản Phẩm: </h2>

        <div class="form-group">
          <label for="comment">1. Thành Phần Chính:</label>
          <textarea class="form-control" rows="5" id="comment" name="thanhphan" placeholder="Thành Phần"></textarea>
        </div>

        <div class="form-group">
          <label for="comment">2. Công Dụng:</label>
          <textarea class="form-control" rows="5" id="comment" name="congdung" placeholder="Công Dụng"></textarea>
        </div>
        <div class="form-group">
          <label for="comment">3. Đối Tượng Sử Dụng:</label>
          <textarea class="form-control" rows="5" id="comment" name="doituongsudung" placeholder="Đối tượng sử dụng"></textarea>
        </div>

        <div class="form-group">
          <label for="comment">4. Cách Sử Dụng:</label>
          <textarea class="form-control" rows="5" id="comment" name="cachsudung" placeholder="Cách sử dụng"></textarea>
        </div>

        <div class="form-group">
          <label>5. Quy Cách Đóng Gói</label>
            <input class="form-control" id="quycach" name="quycach"  type="text" placeholder="Quy cách"/>
        </div>

        <input style= "display:none" type="text" value="https://file.hstatic.net/1000287322/file/updating_4b3e39ad13974b06bd99d80bb44a2218.png" id="linkhinh" name="linkhinh">

		<button>Lưu Trữ</button>
      </form>

    </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
    apiKey: "AIzaSyDXRS2qD8qI0_BWKmUt4UCeV5o_V1XFjEE",
    authDomain: "dainam-96b9c.firebaseapp.com",
    databaseURL: "https://dainam-96b9c.firebaseio.com",
    projectId: "dainam-96b9c",
    storageBucket: "dainam-96b9c.appspot.com",
    messagingSenderId: "959430104014"
    };
    firebase.initializeApp(config);
    //get element 
    var uploader = document.getElementById("uploader");
    var fileButton = document.getElementById("fileButton");
    var hinhanh = document.getElementById("hinhanh");
    var linkhinh = document.getElementById("linkhinh");

    //Listen for file sellection 
    fileButton.addEventListener("change", function(e){
      //Get file 
      console.log(e.target.files)
      var file = e.target.files[0];
      //Create a storage ref
      var moonLanding = new Date();
      let m = moonLanding.getTime();
      const n = m+"-"+file.name;
      storageRef = firebase.storage().ref("imgp/"+n);

      //uploade file 
      var task =  storageRef.put(file);
      // update Progess bar 
    task.then(function(value){
      let img = 'https://firebasestorage.googleapis.com/v0/b/dainam-96b9c.appspot.com/o/imgp%2F'+n+'?alt=media'
      hinhanh.src = img;
      hinhanh.style = 'width: 200px; display: block';
      linkhinh.value = img;
    })
    });
    </script>
</body>
</html>